#body{
    background-color: rgb(12, 12, 12);
    height: 2000px;
    background-image: url(../img/Fonsdo.png);
}

main{
    height: 50%;
}

.carousel-item img {
    height: 460px;
}

.card img{
    height: 350px;
    width: 300px;
}

#peli{
margin-top: 90px;
width: 1300px;
text-align: center;
margin: 0 auto;
}

.cardW{
    margin: 20px;
}

#fila2{
margin-top: 30px;

}

div.carta{
    background-color: rgba(5, 5, 5, 0.432);
    color: white;
}

#img{
    margin-left: 3px;
}

#carouselExampleIndicators{
    margin-top: 100px;
}


#carouselExampleIndicators{
    width: 1295px;
    text-align: center;
    margin-left: 16%;
}
#bt{
    margin-left: -450px;
    
}

#Barras{
    margin-right: 400px;
}

header{
    background-color: black;
    color: white;
    
}

.menu .lista{
    display: inline-block;
    margin-left: 300px;
  
}

#mas{
    margin-left: 45px;
    color: white;
}
#men{
    margin-left: 45px;
}

#logo{
    width: 100px;
    height: 100px;
   
}
h1{
    margin-left: 50%;
}

